.container {
    text-align: center;
    max-width: 900px;
    margin-top: 300px;
}

.btn {
    font-size: 25px;
    padding: 8px;
    margin: 15px 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #EFEFEF;
}

.btn:hover {
    background-color: #dedede;
}